#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 8em;
  will-change: filter;
}

.animalCard {
  display: flex;
  padding: 1%;
  border: 1px solid #ccc7c7;
  border-radius: 10px;
  margin-bottom: 2%;
}

.animalInfo {
  padding-left: 2%;
  text-align: left;
}

.animalImg {
  width: 85vw;
  height: 50vw;
  max-width: 500px;
  max-height: 300px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 10px;
}

.buttonsSection {
  padding: 1%;
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
